* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    color: white;
    font-family: sans-serif
}

body > div {
    background-color: black;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


/* Pre-Configured Tags */

.centered {
    text-align: center;
}


/* Header */

header {
    display: flex;
    height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 5rem;
}

header > a {
    background-color: rgb(94, 94, 94);
    display: inline-block;
    font-size: .8em;
    border-radius: .2em;
    vertical-align: middle;
    line-height: 1.7rem;   
    margin-right: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

/* Main */

main {
    width: 80%;
    height: calc(100vh - 11rem);
    margin: 0 auto;
    overflow-y: auto;
}

.cont-immagini-zoom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .1em .5em;
    
}

.cont-singola-immagine {
    position: relative;
}

.cont-singola-immagine > div {
    position: absolute;
    bottom: 0%;
    left: 0%;

    background-color: rgba(44, 44, 44, .2);
    line-height: 1.8rem;
    padding-left: .5em;
    padding-right: .5em;
    vertical-align: middle;
    font-size: .8rem;
}
.cont-immagini-zoom > div > img {
    width: 200px;
    object-fit: contain;
    object-position: center;
    
}

/* Footer */

 footer {
     height: 4rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(44, 44, 44);
 }
ul {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

ul > li {
    display: inline-block;
}

ul > li > a {
    font-size: .8rem;
    color: rgb(238, 238, 238);
    display: inline-block;
    vertical-align: middle;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 1.2rem;
}

li > a > i {
    font-size: 1.6rem;
    color: white;

}

.fa-chevron-up {
    font-size: .7rem;
    padding-left: .1em;
    padding-right: .1em;
}

footer > a {
    background-color: rgb(94, 94, 94);
    flex-basis: 7%;
    height: 100%;
    display: flex;
    font-size: .8rem;
    color: red;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fa-share-square {
    color: rgb(10, 197, 10);
}

