* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    color: white;
    font-family: sans-serif
}

body > div {
    background-color: black;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}


/* Pre-Configured Tags */

.centered {
    text-align: center;
}


/* Header */

header {
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 5rem;
}

.cont-speaker-view > div {
    margin-right: .5em;
}

.btn {
    background-color: rgb(94, 94, 94);
    display: inline-block;
    line-height: 1.7em;
    font-size: .8em;
    border-radius: .2em;
    vertical-align: middle;
    padding: .1em .2em;
    
}

/* Main */

main {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    overflow-y: auto;
}

.cont-immagini-zoom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .1em .5em;

}

.cont-immagini-zoom > div > img {
    width: 200px;
    object-fit: contain;
    object-position: center;
}

/* Footer */

 footer {
     height: 72px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(44, 44, 44);
 }

ul {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

ul > li {
    display: inline-block;
}

ul > li > a {
    font-size: .8rem;
    color: rgb(238, 238, 238);
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.2rem;
}

li > a > i {
    font-size: 1.6rem;
    color: white;

}

.fa-chevron-up {
    font-size: .7rem;
    padding-left: .1em;
    padding-right: .1em;
}

.cont-end-meeting {
    background-color:  rgb(94, 94, 94);
    display: flex;
    flex-basis: 7%;
    height: 100%
}

.cont-end-meeting > a {
    margin: auto;
    font-size: .8rem;
    color: red;
}

.fa-share-square {
    color: rgb(10, 197, 10);
}

